* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1c2845;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(1, 1, 32);
    display: flex;
    width: 100%;
    height: 11vh;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-right: 0px;
}

.logo {
    position: relative;
    font-size: 7vh;
    color: rgb(237, 228, 228);
    text-decoration: none;
    font-weight: 600;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 5vh;
    color: rgb(19, 81, 136);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    padding: 5px;
    color: aliceblue;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover {
    background-color: #2cde;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 20px #2cde
}

.logo img {
    height: 90vh;
    width: 90vh;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}

.home img {
    height: 70vh;
    width: 70vh;
    border: 3px solid white;
    padding: 2px;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: #34eb6e 0px 0px 15px 20px;
    animation: slideRight 3s ease forwards;
}

/* .home-left{
    border: 5px solid red;
} */
.home-left h1 {
    font-size: 70px;
    color: white;
    text-shadow: 1px 3px rgb(0, 0, 0);
    animation: slideRight .5s ease forwards;
}

.home-left h3 {
    color: white;
    font-size: 50px;
    animation: slideBottom .5s ease forwards;
    /* animation-delay: .5s; */
}

.text-write {
    color: #2cde;
    font-size: 35px;
}

.text-write :nth-of-type(2) {
    margin-bottom: 25px;
}

.home-left p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    animation: slideRight .5s ease forwards;
}

.icons {
    margin-top: 20px;
    animation: slideTop .5s ease forwards;
}

.icons a {
    font-size: 40px;
    color: #2cde;
    margin-right: 20px;
    display: inline;
    justify-content: center;
    align-items: center;
    border: 3px solid #2cde;
    border-radius: 50%;
    padding: 5px;
}

.icons a:hover {
    background-color: #2cde;
    color: white;
    box-shadow: 0 0 20px #2cde
}

.readme button {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    border: 3px solid #2cde;
    background-color: #2cde;
    border-radius: 5px;
    cursor: pointer;
    animation: slideBottom .5s ease forwards;
}

.readme button:hover {
    background-color: #2cde;
    color: white;
    box-shadow: 0 0 20px #2cde
}

/* about  css*/
.about {
    background-color: white;
    width: 100%;
    height: 90vh;
}

.about-text {
    margin-left: 20vh;
    margin-top: 10vh;
}

.about-img img {
    height: 50vh;
    width: 50vh;
    margin-top: 110px;
    margin-left: 90px;
    border: 3px solid white;
    padding: 2px;
    border-radius: 50%;
    box-shadow: #34eb6e 0px 0px 15px 20px;
    animation: slideTop 3s ease forwards;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about-text h2 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 800;
}

.about-text span {
    color: red;
}

.about-text h4 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.about-text p {
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}

.servics h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
    animation: slideTop 1s ease forwards
}

.servics h1 span {
    color: red;
    margin-left: 15px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.contain-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 30px #114edb;
}

.contain-box i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.contain-box p {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: justify;
}

.contain-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 27px;
}

.contain-box a {
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.contain-box a {
    margin-top: 20px;
    font-size: 15px;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    border: 3px solid #2cde;
    background-color: #2cde;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    color: black;
    animation: slideBottom .5s ease forwards;
}

.contain-box a:hover {
    background-color: #2cde;
    color: white;
    box-shadow: 0 0 20px #2cde
}

.skill-title {
    margin-top: 40px;
    padding: 10px;
    /* background-color: white; */
}

.skill-title h1 {
    font-size: 60px;
    font-weight: 800;
}

.heading-skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-skill span {
    color: red;
    margin-left: 10px;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
}

.technical-skill {
    width: 600px;
    height: 500px;
    padding: 70px 60px;
    margin-left: 120px;
    margin-bottom: 30px;

}

.heading-technical-skill {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.bar {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    width: 400px;
}

.technical-bar .bar {
    margin-top: 40px 0px;
}

.technical-bar .bar:first-child {
    margin-top: 0px;
}

.technical-bar .bar .info {
    margin-bottom: 5px;
    margin-top: 20px;
}

.container-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;
}

.progress-bar {
    background-color: rgb(148, 143, 143);
    width: 600px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    font-size: 15px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: white;
    float:right;
    margin-top: -18px;
    margin-right: -20px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.html{
    background-color: #a0540e;
    animation: html 2s linear forwards;
}
.css{
    background-color: #0fa4be;
    animation: css 1s linear forwards;
}
.js{
    background-color: #b8ac0d;
    animation: js 1s linear forwards;
}

.react{
    background-color: #9a06ad;
    animation: react 1s linear forwards;
}
.bootstrap{
    background-color: #044ea1;
    animation: bootstrap 1s linear forwards;
}
.git{
    background-color: #000203;
    animation: git 1s linear forwards;
}
.html span{
    border: 2px solid #a0540e;
}
.css span{
    border: 2px solid #059797;
}
.js span{
    border: 2px solid #a9ac04;
}
.react span{
    border: 2px solid #0554af;
}
.bootstrap span{
    border: 2px solid #59036e;
}
.git span{
    border: 2px solid #000000;
}

footer{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: slategrey;
}
.content{
    max-width: 100%;
    text-align: center;
}
.content h1{
    font-size: 3rem;
    color: white;
    font-weight: 800;
}
.content p{
    color: white;
    font-weight: 500;
    font: 1.5rem;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-top: 30px;
}
.contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.icon{
    min-width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 0.5s;
    border-radius: 5px;
}
.box:hover .icon{
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 5px 5px rgb(30, 29, 31);
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}
.text h3{
    color: lightseagreen;
    font-weight: 600;
}
.text-s{
    color: white;
    font-weight: 600;
    margin-top: 50px;
    border-left: 50px solid rgb(241, 72, 100);
    line-height: 1rem;
    padding-left: 10px;
}
.social{
     position: relative;
     display: flex;
     gap: 20px;
     margin: 20px 0;
}
.social li{
    list-style: none;
}
 
.social li a{
    color: white;
    font-size: 2rem;
    transition: 0.5s;
}
.social li a:hover{
    color: lightseagreen;
}

.contactForm{
    position: relative;
    width: 40%;
    background-color: white;
    min-height: 100px;
    padding: 60px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 5px 5px rgb(30, 29, 31);
}
.contactForm h2{
    font-size: 2rem;
    color: rgb(29, 27, 27);
    font-weight: 800;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.inputBox input,.inputBox textarea{
    width: 100%;
    padding: 5px;
    font-size: 1.1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    resize: none;
}
.inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1rem;
    color: grey;
    transition: .5s;
}
.inputBox input:focus ~span,
.inputBox textarea:focus ~span{
    color: red;
    font-size: .9rem;
    transform: translateY(-20px);
}
.inputBox input[type="submit"]{
    width: 100px;
    background-color: lightseagreen;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

@keyframes html {
    100%{
        width: 86%;
    }
}
@keyframes css {
    100%{
        width: 60%;
    }
}
@keyframes js {
    100%{
        width: 45%;
    }
}
@keyframes react {
    100%{
        width: 30%;
    }
}
@keyframes bootstrap {
    100%{
        width: 70%;
    }
}
@keyframes git {
    100%{
        width: 75%;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 940px) {
    .icons a {
        font-size: 5vh;
        margin-right: 1vh;
    }

    .home img {
        height: 50vh;
        width: 50vh;
    }

    .home-left h1 {
        font-size: 40px;
    }

    .home-left h3 {
        font-size: 30px;
    }

    .navbar a {
        font-size: 25px;
        margin-left: 10px;
    }

    .readme button {
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {
    .icons a {
        font-size: 3.5vh;
        margin-right: 1.5vh;
    }
}